<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides style="width: 100%; height: 100%" *ngIf="dataLocalSrv.noticias.length === 0">
    <ion-slide style="width: 100%; height: 100%">
      <ion-label>No hay favoritos</ion-label>
    </ion-slide>
  </ion-slides>

  <app-noticias *ngIf="dataLocalSrv.noticias.length > 0"
                [enFavoritos]="true"
                [noticias]="dataLocalSrv.noticias"></app-noticias>
</ion-content>
